    <div class="pt-3">
      <h5>News & Events</h5>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1">System Update</h6>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Planned maintenance on Friday</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1">New Feature</h6>
            <small>1 week ago</small>
          </div>
          <p class="mb-1">Check out the new reporting tools</p>
          <b><p>User Name :</p></b> <h6>{{userName}}</h6>
        </a>
        <!-- <nav>
          <a class="nav-link active" routerLink="profile">Profile</a>
        </nav> -->
      </div>
    </div>